{
  "presets": [
    "es2015",
    "stage-2"
  ],
  "plugins": [
    "transform-object-rest-spread",
    [
      "module-resolver", {
      "root": ["./app"],
      "alias": {
        "modules": "./app/modules",
        "server": "./app/server"
      }
    }
    ]
  ]
}